body{
    background-color: #8a7e6e;
}

.h1{
    display: flex;
    background-color: #de985e;
    padding: 60px;
    margin-top: -8px;
    margin-left: -7.6px;
    margin-right: -7.5px;
    border: 2px solid black;
}
.paragrafo{
    display: flex;
    background-color: #ebc697;
    padding: 40px;
    border: solid black;
    margin-top: -30px;
    margin-left: -7.6px;
    margin-right: -7.5px;
    font-size: 20px;
}
.div1{
 position: absolute;
 left: 1250px;
 top: 0;
 
}
.di2{
    position: ;
    top: 50px;
    right: -80px;
}
