*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: #de985e;
    height: 210px;
    border: solid black 2px;

}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-adota{
    width: 500px;
    height: 200px;
}
li{
    display: inline-block;
    font-size: 23px;
    color:white;
    margin: 100px 40px 0 40px; 
}
a{
    color: white;
}
a:hover{
    color: black;
    transition: 1s;

}
.paragrafo{
    background-color: #ebc697;
    height: 100px;
    border: solid black 2px;
    
}
.container2{
    
}
